<div class="mx-auto sm:px-4 pt-5 pb-10 bg-white">
    <div class="max-w-5xl mx-auto border px-3">
        <div class="flex flex-wrap pt-3 pb-9">
            <div class="md:w-full pr-4 pl-4">
                <div class="py-3 text-center">
                    <div class="mt-3 block">
                        <div class="text-3xl">
                            <div><b>Let Me Show You Why Entrepreneurs</b></div>
                        </div>
                    </div>

                    <div class="py-4 text-5xl text-secondary">
                        <div><b>Just Like You</b></div>
                    </div>

                    <div class="text-2xl">
                        <b>Are Slowly <u>Waking Up</u> To The Fact That There Is A Quicker Way To Scale
                            Their Business...</b>
                    </div>

                </div>
            </div>
        </div>
        <div class="py-3 px-6">
            <div class="block border-dashed border-b-2">
            </div>
        </div>
        <div class="flex flex-wrap pb-9">
            <div class="md:w-full pr-4 pl-4">
                <div class="py-3">

                    <div class="mt-8 text-left text-xl">

                        <div><b>From: Andre Barrett</b></div>
                        <div><em>Founder of Business Launch Academy</em></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap pb-2">
            <div class="md:w-1/2 pr-4 pl-4">
                <div class="py-3 text-left">
                    <p>Holy Sh!t what a ride!</p>
                    <br />
                    <p>You get knocked to the floor. You get up, you put on a brave face. You even smile and
                        laugh a little... for a while. You carry on hoping that a hard-earned victory is just
                        around the corner. Until... crap, really?! The next thing comes along and knocks you on
                        your ass all over again. But you don&#39;t give up. You continue. You&#39;re battered,
                        bruised and swollen. But all the while you are thinking I can do this.</p>
                    <br />
                    <p>Why?</p>
                    <br />
                    <p>Because you know it has been done before. It&#39;s not exactly Mount Everest you are
                        climbing after all. It&#39;s a business. A business that loads of other people have
                        started before and made a ton of money from. And you know deep down that if they can do
                        it, so can you.</p>
                    <br />
                    <p>So here you are. You have found your way to another place on the internet that offers
                        some glimmer of hope. You are probably where I was a while ago. You are feeling that a
                        guide would make your journey a lot easier. If you only had someone to show you how
                        it&#39;s done. If you could get some advice to avoid the mistakes and overcome the
                        obstacles you know you will get there quicker. And... you are right.</p>
                    <br />
                    <p>Listen... I already know how your story plays out. It has a happy ending. From where you
                        are now perhaps you can&#39;t see it, but I can. I have been there and I know the exact
                        steps you need to follow. Let me show you.</p>
                    <br />
                    <p>At one point I became a junkie. They say a wise man learns from his mistakes but a genius
                        learns from the mistakes of others. I didn&#39;t want to be wise. It had already been
                        several long hard years of being wise. I had grown my business to several employees
                        already by tripping over and making every amateur entrepreneur mistake I could. It was
                        time to become a genius.</p>
                    <br />
                    <p>So I enrolled in every seminar, course and self-development
                        program I could find. I was hooked. This is it I thought. I have finally found the way
                        to shortcut everything. And just like any other addict, I didn&#39;t care that I
                        didn&#39;t have the money to afford it. I had to find a way to get it at all costs. So
                        that&#39;s what I did. I maxed out credit card after credit card. I borrowed until I
                        couldn&#39;t borrow any more. After all, when I&#39;m done I&#39;ll have the skills to
                        pay it off quickly I thought.</p>
                    <br />
                    <p>Several years later the addiction had taken its toll. And just like waking up after a
                        long night of being in a drunken stupor, the reality of my situation was finally dawning
                        on me. The rude awakening from my partner only helped to sober me up even faster. I
                        tried to hide the embarrassment I felt as she snapped back her answer to my question.
                        &quot;You are already over 100k in debt Andre and you are asking to borrow more money
                        for another course? When are you going to make the money back from all the other courses
                        you&#39;ve taken?&quot;</p>
                    <br />
                    <p>Some people say that love doesn&#39;t exist. And up until that moment, I would have said
                        they were probably right. To this day, however, love is the only explanation I can give
                        for what happened next.</p>
                    <br />
                    <p>Look... if you listen to every successful entrepreneur&#39;s journey there will be 2 moments in
                        their story that clearly stand out. Although you won&#39;t necessarily hear them define it, the
                        2 points in time are there:</p>
                    <br />
                    <ul class="prose list-disc pl-5" style="list-style: disc;">
                        <li class="pl-5">Number 1 is the turning point</li>
                        <li class="pl-5">And Number 2 is the tipping point</li>
                    </ul>
                    <br />
                    <p>The tipping point won&#39;t happen at the same time as the turning point.</p>
                    <br />
                    <p>Why?</p>
                    <br />
                    <p>Well, the turning point is simply the time at which a <u>decisive</u> change in a situation
                        occurs. The
                        beneficial results don&#39;t come until later. After the turning point, you gain momentum and
                        you eventually reach a point where success is inevitable. This is the tipping point. It&#39;s
                        the moment in time when you finally break through. As soon as it happens, results come hard and
                        fast. From that moment on, it&#39;s like all your wildest dreams have come true.</p>
                    <br />
                    <p>When I look back now and recall how it all played out, I still find it hard to believe.
                        The moment in time that my partner had made me feel the most embarrassed I had ever felt
                        was also <u>my turning point</u>. Several months later, my partner and I had qualified as
                        Mindset coaches. I would like to think it was my charm that convinced her but it was
                        probably more a feeling of pity. Whatever force motivated her, not only did she lend me
                        the money, but she also came along for the ride.</p>
                    <br />
                    <p>After learning how to reprogram my mind I immediately started seeing results...</p>
                    <br />
                    <h4 id="i-became-an-author-after-writing-a-book-in-30-days" class="text-lg font-semibold">I became
                        an Author after
                        writing a book in 30 days!</h4>
                    <p>Anyone who knows me knows my writing is terrible. I avoided any subjects at school that
                        involved essays because I was so embarrassed at my poor English. I absolutely hated the
                        subject. Never in my wildest dreams did I ever imagine becoming an Author of a book that
                        people actually enjoyed reading. And writing it in 30 days when some people take several
                        months well... given my situation, most people would have said it was impossible.</p>
                    <br />
                    <p>I didn&#39;t want anyone to ever doubt that I had accomplished such a goal so I video
                        documented the whole journey. From start to finish I put everything on social media for
                        all to see. </p>
                    <br />
                    <p>One of my good friends commented, &quot;Wow, I&#39;ve been trying to write my book for
                        about a year. I actually can&#39;t believe you wrote such an amazing book in such a
                        short space of time. Well done mate.&quot; That comment was especially meaningful
                        because my friend was a full-time journalist and writer himself.</p>
                    <br />
                    <h4 id="i-landed-a-highly-paid-consultancy-role-at-j-p-morgan" class="text-lg font-semibold">I
                        landed a highly-paid
                        consultancy role at J.P. Morgan.</h4>
                    <p>Ever since the financial crisis I had been trying to land a job at a big bank. I started
                        accumulating world-class financial qualifications in the hope that I would stand out.
                        But more than 10 years after applying for job after job, I kept getting turned down.
                        To date, I have become qualified in:</p>
                    <ul class="prose list-disc pl-5" style="list-style: disc;">
                        <li>
                            <p>The CFA (Chartered Financial Analyst) program. The CFA is a designation that top
                                earners at banks qualified for. It sets you apart in the industry as someone who
                                has intimate knowledge of finance.</p>
                        </li>
                        <li>
                            <p>CQF (Certificate In Quantitative Finance). An advanced highly mathematical
                                program designed to teach you financial derivates in depth.</p>
                        </li>
                        <li>
                            <p>ITPM - Institute of Trading and Portfolio Management. A program that shows you
                                how to trade the financial markets using a top-down macro approach.</p>
                        </li>
                    </ul>
                    <p>When I finally got into J.P Morgan, another top executive learned about all the
                        qualifications I had. His comment was, &quot;I don&#39;t even have half your
                        qualifications. I&#39;m surprised you took this long to get in.&quot;</p>
                    <br />
                    <p>What I learned while consulting for J.P. Morgan is that most people there are not as
                        clever as people believe. The smarter individuals want to leave to become Entrepreneurs.
                        They resist because they are locked in by the &#39;golden handcuffs&#39;. For so long I
                        was eager to get in. Once I was there, it turned out that the best thing for me to do
                        was get out as quickly as I could.</p>
                    <br />
                    <h4 id="i-started-buying-businesses" class="text-lg font-semibold">I started buying businesses</h4>
                    <p>If you know anything about Private Equity or corporate finance, you will know that buying
                        businesses is usually something reserved for elite MBA professionals or Investment
                        Bankers. Usually, these individuals get hired by big banks, Private Equity firms or
                        large companies to work on M&amp;A (Mergers And Acquisitions). They analyse deal
                        structures to show how acquiring another company and integrating can lead to larger
                        profits in the long term.</p>
                    <br />
                    <p>Well, I don&#39;t have an MBA, and I have never worked as an Investment banker. I am,
                        however, buying companies which will lead to larger profits in the long term.</p>
                    <br />
                    <p><strong>Honestly, the list goes on... but I think you get the point.</strong></p>
                    <br />
                    <p>Now, I&#39;m not saying any of this to brag. I&#39;m just trying to impress upon you that
                        there is a key to unlocking your true potential.</p>
                    <br />
                    <p>The good news is, Business Launch Academy was set up for this very reason. I want to show
                        others what they are capable of once they take full control of their mind.</p>
                    <br />
                    <p>If you are being called to achieve something great, then you should already know what to
                        do.</p>

                </div>
            </div>
            <div class="md:w-1/2 pr-4 pl-4">
                <div class="py-3">
                    <div class="">
                        {{ $img := resources.Get "images/andre-barrett.jpg"}}
                        <img src="{{ $img.RelPermalink }}" class="elIMG ximg el_media_theme1" alt="" style=""
                            tabindex="0">
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>