<section>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="relative -mx-4 overflow-hidden bg-indigo-50 px-4 py-10 sm:-mx-6 md:mx-0 md:rounded-5xl xl:py-20">
            {{ with resources.GetMatch "images/background-newsletter.jpg" }}
            <img alt="" loading="lazy" width="919" height="1351" decoding="async" data-nimg="1"
                class="absolute left-1/2 top-0 translate-x-[-10%] translate-y-[-45%] lg:translate-x-[-32%]"
                style="color:transparent" src="{{ .RelPermalink }}">
            {{ end }}
            <div class="relative max-w-screen-xl px-4 sm:px-2 mx-auto grid grid-cols-12 gap-x-6">
                <div class="col-span-12 lg:col-span-6 space-y-8 sm:space-y-6 px-4 sm:px-6">
                    <span class="font-medium text-xl text-heading">Welcome to</span>
                    <h2 class="text-4xl font-semibold"><span class="text-secondary">Business Launch</span>
                        <span class="text-heading"> Academy</span>
                    </h2>
                    <div class="space-y-2">
                        <h4 class="text-lg font-medium">6 Month Accelerator Program</h4>
                        <p class="paragraph text-body">
                            Designed to fast track business owners to a 6 and even 7
                            figure business. Work on your business with all the tools,
                            knowledge and support you need to succeed.
                        </p>
                    </div>
                    <div class="space-y-2">
                        <h4 class="text-lg font-medium">Personal One to One Coaching</h4>
                        <p class="paragraph text-body">
                            Be guided by a coach who has achieved what you want to achieve. They will you give the
                            roadmap,
                            accountability and guidance to get you there.
                        </p>
                    </div>
                    <div class="space-y-2">
                        <h4 class="text-lg font-medium">Mindset and Business Mastery</h4>
                        <p class="paragraph text-body">
                            Get the business skills you need to create a thriving business. Overlay mindset principles
                            to ensure
                            you stay motivated, productive and on track at all times.
                        </p>
                    </div>
                </div>
                <div class="col-span-12 lg:col-span-6">

                    <div class="w-full sm:mt-20 xl:mt-0 rounded-2xl overflow-hidden">
                        {{ with resources.GetMatch "images/black-owned-business.jpg" }}
                        {{ $small := (.Resize "400x webp q100").RelPermalink }}
                        {{ $medium := (.Resize "550x webp q100").RelPermalink }}
                        {{ $large := (.Resize "900x webp q100").RelPermalink }}
                        {{ $featuredimage := (.Resize "1500x webp q100").RelPermalink }}
                        <img src="{{ $featuredimage }}" alt="" class="w-full">
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="max-w-screen-xl mx-auto py-16 px-5">
    <div class="mt-16 md:mt-0">
        <h3 class="text-2xl lg:text-3xl font-bold lg:tracking-tight text-heading">
            Everything you need to scale a business
        </h3>
        <p class="text-lg mt-4 text-body">
            Even if you have an existing business. Business Launch Academy comes with everything you need to take it to
            the next level.
        </p>
    </div>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
        <div class="flex gap-4 items-start">
            <div class="">
                <svg class="w-8 h-8 mt-1 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                        d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                    </path>
                </svg>
            </div>
            <div>
                <h4 class="font-semibold text-lg">Frameworks And Method</h4>
                <p class="text-body mt-2 leading-relaxed">Apply tried and tested methods that are battle hardened
                    and proven. Use the templates and guides to shortcut the process and get quick wins.</p>
            </div>
        </div>
        <div class="flex gap-4 items-start">
            <div class="">
                <svg class="w-8 h-8 mt-1 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                        d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                    </path>
                </svg>
            </div>
            <div>
                <h4 class="font-semibold text-lg">Actionable Content</h4>
                <p class="text-body mt-2 leading-relaxed">You won't just be learning. You'll be applying the
                    content provided to your
                    business to get instant results.</p>
            </div>
        </div>
        <div class="flex gap-4 items-start">
            <div class="">
                <svg class="w-8 h-8 mt-1 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                        d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                    </path>
                </svg>
            </div>
            <div>
                <h4 class="font-semibold text-lg">Community</h4>
                <p class="text-body mt-2 leading-relaxed">No need to feel like you are alone on your journey. The
                    community support is there to uplift you and share how to overcome challenges you might face.
                </p>
            </div>
        </div>
        <div class="flex gap-4 items-start">
            <div class="">
                <svg class="w-8 h-8 mt-1 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                        d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                    </path>
                </svg>
            </div>
            <div>
                <h4 class="font-semibold text-lg">What's Working Now</h4>
                <p class="text-body mt-2 leading-relaxed">No need to waste your time trying to get outdated
                    business strategies to work. You get a behind the scenes look at what's working now so you can focus
                    only on what is going to work for you.</p>
            </div>
        </div>
        <div class="flex gap-4 items-start">
            <div class="">
                <svg class="w-8 h-8 mt-1 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                        d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                    </path>
                </svg>
            </div>
            <div>
                <h4 class="font-semibold text-lg">Ability To Ask Questions</h4>
                <p class="text-body mt-2 leading-relaxed">No more being hindered by not knowing. You'll get
                    immediate answers to questions to ensure you never get stuck on your journey.</p>
            </div>
        </div>
        <div class="flex gap-4 items-start">
            <div class="">
                <svg class="w-8 h-8 mt-1 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                        d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                    </path>
                </svg>
            </div>
            <div>
                <h4 class="font-semibold text-lg">Motivation</h4>
                <p class="text-body mt-2 leading-relaxed">It's natural to run out of steam. Now you will have ways
                    to get back to being productive and staying on track to reach your goals.</p>
            </div>
        </div>
    </div>
</section>


{{ $bgpattern := resources.GetMatch "images/landing/bg-tools.webp" }}
<section class="bg-cover relative max-w-full sm:mx-4 xl:mx-10 py-8 shadow sm:rounded-2xl overflow-hidden"
    style="background-image: url('{{ $bgpattern.RelPermalink }}');">
    <div class="w-full flex flex-col items-center">
        <h3 data-aos="flip-down" class="text-2xl sm:text-3xl font-semibold text-center">
            Getting started is easy
        </h3>
        <div
            class="relative w-full flex flex-col lg:flex-row items-center justify-between space-y-12 lg:space-y-0 px-4 xl:px-10 mt-16 sm:mt-8 aos-init">
            <div class="max-w-[280px] xl:max-w-[363px] space-y-6 sm:space-y-3 text-center">
                <figure class="w-16 mx-auto block">
                    {{ $signup := resources.Get "images/icons/sign-up.svg" }}
                    <img src="{{ $signup.RelPermalink }}" alt="Register for free business coaching"
                        class="max-w-[145px] mx-auto">
                </figure>
                <h5 class="text-xl text-neutral-800 font-semibold">Register</h5>
                <p class="text-sm text-body leading-relaxed">
                    Book in a free consultation. You will be sent an email confirming your registration. Reply to the
                    email answering any request for extra information.
                </p>
            </div>
            <div class="max-w-[280px] xl:max-w-[363px] space-y-6 sm:space-y-3 text-center">
                <figure class="w-16 mx-auto block">
                    {{ $call := resources.Get "images/icons/video-call.svg" }}
                    <img src="{{ $call.RelPermalink }}" alt="Have a free business strategy session video call"
                        class="max-w-[140px] mx-auto">
                </figure>
                <h5 class="text-xl text-neutral-800 font-semibold">Consultation Call</h5>
                <p class="text-sm text-body leading-relaxed">
                    Have a discovery call where we find out more about you and what it is you are trying to achieve. We
                    will also answer any questions you have about the program.
                </p>
            </div>
            <div class="max-w-[280px] xl:max-w-[363px] space-y-6 sm:space-y-3 text-center">
                <figure class="w-16 mx-auto block">
                    {{ $start := resources.Get "images/icons/business-coaching-logo.svg" }}
                    <img src="{{ $start.RelPermalink }}" alt="Get started with Business Launch Academy"
                        class="max-w-[96px] mx-auto">
                </figure>
                <h5 class="text-xl text-neutral-800 font-semibold">Get Ready</h5>
                <p class="text-sm text-body leading-relaxed">
                    If we both decide it's a good fit for you, then we will let you know when the next cohort begins and
                    what you need to do to get started.
                </p>
            </div> <img src="/_nuxt/img/arrow.60f4e50.png" alt=""
                class="hidden lg:inline-block absolute top-32 left-64 xl:left-[22rem] w-24 xl:w-[9.5rem]">
            <img src="/_nuxt/img/arrow.60f4e50.png" alt=""
                class="hidden lg:inline-block absolute top-32 right-64 xl:right-[22rem] w-24 xl:w-[9.5rem]">
        </div>
        <div class="pt-6 my-6 mx-auto">
            <a class="px-5 py-3 text-xl text-center font-medium text-white bg-primary border border-primaryHover rounded-md shadow hover:bg-primaryHover focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-primary"
                href="./book-consultation" data-opf-trigger="">Book Your
                Free Consultation
            </a>
        </div>

    </div>
</section>