<section id="speakers" aria-labelledby="speakers-title" class="py-10 md:py-20">
    <svg aria-hidden="true" width="0" height="0">
        <defs>
            <clipPath id=":R1aqlla:-0" clipPathUnits="objectBoundingBox">
                <path
                    d="M0,0 h0.729 v0.129 h0.121 l-0.016,0.032 C0.815,0.198,0.843,0.243,0.885,0.243 H1 v0.757 H0.271 v-0.086 l-0.121,0.057 v-0.214 c0,-0.032,-0.026,-0.057,-0.057,-0.057 H0 V0">
                </path>
            </clipPath>
            <clipPath id=":R1aqlla:-1" clipPathUnits="objectBoundingBox">
                <path
                    d="M1,1 H0.271 v-0.129 H0.15 l0.016,-0.032 C0.185,0.802,0.157,0.757,0.115,0.757 H0 V0 h0.729 v0.086 l0.121,-0.057 v0.214 c0,0.032,0.026,0.057,0.057,0.057 h0.093 v0.7">
                </path>
            </clipPath>
            <clipPath id=":R1aqlla:-2" clipPathUnits="objectBoundingBox">
                <path
                    d="M1,0 H0.271 v0.129 H0.15 l0.016,0.032 C0.185,0.198,0.157,0.243,0.115,0.243 H0 v0.757 h0.729 v-0.086 l0.121,0.057 v-0.214 c0,-0.032,0.026,-0.057,0.057,-0.057 h0.093 V0">
                </path>
            </clipPath>
        </defs>
    </svg>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 id="speakers-title"
                class="font-medium text-xl sm:text-2xl md:text-3xl lg:text-4xl tracking-tight text-heading">
                Coaches</h2>
            <p class="mt-4 text-body">Learn from expert business coaches who
                have
                already been where you want to go by building their own 7+ figure businesses. All coaches are also
                certified mindset coaches. This guarantees that not only do we increase your business acumen, we also
                unlock any hidden mindset restrictions holding you back.
                <br />
                <br />
                <strong>No other coaching program out there offers this!</strong>
            </p>
        </div>
        <div class="mt-14 grid grid-cols-1 items-start gap-x-8 gap-y-8 sm:mt-16 sm:gap-y-16 lg:mt-24 lg:grid-cols-4">
            <div class="relative -mx-4 flex pb-4 sm:mx-0 sm:pb-0">
                <div class="absolute bottom-0 left-0.5 top-2 hidden w-px bg-slate-200 lg:block"></div>
                <div class="grid auto-cols-1 justify-start gap-x-8 gap-y-10 whitespace-nowrap px-4 sm:mx-auto sm:max-w-2xl sm:grid-cols-1 sm:px-0 sm:text-center grid-flow-row grid-cols-1 lg:text-left"
                    role="tablist" aria-orientation="vertical">
                    <div class="relative lg:pl-8">
                        <svg aria-hidden="true" viewBox="0 0 6 6"
                            class="absolute left-[-0.5px] top-[0.5625rem] hidden h-1.5 w-1.5 overflow-visible lg:block fill-blue-600 stroke-blue-600">
                            <path d="M3 0L6 3L3 6L0 3Z" stroke-width="2" stroke-linejoin="round"></path>
                        </svg>
                        <div class="relative">
                            <div class="font-mono text-sm text-slate-500">
                                <p class="ui-not-focus-visible:outline-none">
                                    <span class="absolute inset-0"></span>Reprogramming
                                </p>
                            </div>
                            <p class="mt-1.5 block text-xl font-semibold tracking-tight text-blue-900">Mindset</p>
                        </div>
                    </div>
                    <div class="relative lg:pl-8">
                        <svg aria-hidden="true" viewBox="0 0 6 6"
                            class="absolute left-[-0.5px] top-[0.5625rem] hidden h-1.5 w-1.5 overflow-visible lg:block fill-transparent stroke-slate-400">
                            <path d="M3 0L6 3L3 6L0 3Z" stroke-width="2" stroke-linejoin="round"></path>
                        </svg>
                        <div class="relative">
                            <div class="font-mono text-sm text-slate-500">
                                <p class="ui-not-focus-visible:outline-none">Up-skilling</p>
                            </div>
                            <p class="mt-1.5 block text-xl font-semibold tracking-tight text-blue-900">
                                Business Mastery
                            </p>
                        </div>
                    </div>
                    <div class="relative lg:pl-8">
                        <svg aria-hidden="true" viewBox="0 0 6 6"
                            class="absolute left-[-0.5px] top-[0.5625rem] hidden h-1.5 w-1.5 overflow-visible lg:block fill-transparent stroke-slate-400">
                            <path d="M3 0L6 3L3 6L0 3Z" stroke-width="2" stroke-linejoin="round"></path>
                        </svg>
                        <div class="relative">
                            <div class="font-mono text-sm text-slate-500">
                                <p class="ui-not-focus-visible:outline-none">Guiding</p>
                            </div>
                            <p class="mt-1.5 block text-xl font-semibold tracking-tight text-blue-900">
                                Hand Holding
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lg:col-span-3">
                <div class="grid grid-cols-1 gap-x-8 gap-y-10 ui-not-focus-visible:outline-none sm:grid-cols-2 sm:gap-y-16 md:grid-cols-3"
                    role="tabpanel" tabindex="0" data-headlessui-state="selected"
                    aria-labelledby="headlessui-tabs-tab-:R6cqlaqlla:">

                    {{ with resources.Get "images/coaches/andre-barrett-coach.png" }}
                    {{ $featuredimage := (.Resize "450x webp q80").RelPermalink }}
                    <a href="/andre-barrett" class="block">

                        <div class="h-[380px] max-w-sm rounded-lg bg-white bg-cover shadow-lg dark:bg-neutral-700 grid grid-cols-1 gap-4 overflow-clip content-end"
                            style="background-image: url('{{ $featuredimage }}');">
                            <div
                                class="h-[160px] bg-gradient-to-t from-black to-transparent px-6 grid grid-cols-1 content-end hover:text-primaryHover">
                                <h5
                                    class="mb-2 text-xl font-medium leading-tight text-neutral-800 text-white hover:text-primaryHover dark:text-neutral-50">
                                    Andre Barrett
                                </h5>
                                <p class="mb-4 text-base text-neutral-600 text-white  dark:text-neutral-200">
                                    Barrett Ventures Group
                                </p>
                            </div>
                        </div>
                    </a>
                    {{ end }}

                    {{ with resources.Get "images/coaches/mane-agambi-coach.png" }}
                    {{ $featuredimage := (.Resize "450x webp q80").RelPermalink }}
                    <a href="/mane-agambi" class="block">

                        <div class="h-[380px] max-w-sm rounded-lg bg-white bg-cover shadow-lg dark:bg-neutral-700 grid grid-cols-1 gap-4 overflow-clip content-end"
                            style="background-image: url('{{ $featuredimage }}');">
                            <div
                                class="h-[160px] bg-gradient-to-t from-black to-transparent px-6 grid grid-cols-1 content-end hover:text-primaryHover">
                                <h5
                                    class="mb-2 text-xl font-medium leading-tight text-neutral-800 text-white hover:text-primaryHover dark:text-neutral-50">
                                    Mane Agambi
                                </h5>
                                <p class="mb-4 text-base text-neutral-600 text-white  dark:text-neutral-200">
                                    Mane Incorporated
                                </p>
                            </div>
                        </div>
                    </a>
                    {{ end }}

                    {{ with resources.Get "images/coaches/business-coach-coming-soon.png" }}
                    {{ $featuredimage := (.Resize "450x webp q80").RelPermalink }}
                    <div class="h-[380px] max-w-sm rounded-lg bg-white bg-cover shadow-lg dark:bg-neutral-700 grid grid-cols-1 gap-4 content-end overflow-clip"
                        style="background-image: url('{{ $featuredimage }}');">
                        <div
                            class="h-[160px] bg-gradient-to-t from-black to-transparent px-6 grid grid-cols-1 content-end">
                            <h5 class="mb-2 font-medium leading-tight text-neutral-800 text-white dark:text-neutral-50">
                                Could this be you?
                            </h5>
                            <p class="mb-4 text-base text-neutral-600 text-white  dark:text-neutral-200">
                                Coming Soon
                            </p>
                        </div>
                    </div>
                    {{ end }}


                </div>
            </div>
        </div>
    </div>
</section>