<section class="py-28 px-8">
    <div class="container mx-auto grid grid-cols-1 place-items-center lg:grid-cols-3">
        <div class="col-span-1 rounded-xl lg:mb-0 mb-12"><img alt="online course" loading="lazy" width="768"
                height="500" decoding="async" data-nimg="1" class="h-full max-h-[500px] w-full object-cover scale-110"
                src="/nextjs-tailwind-course-details-page/image/online-course.png" style="color: transparent;"></div>
        <div class="col-span-2 lg:pl-24">
            <h2
                class="block antialiased tracking-normal font-sans text-4xl font-semibold leading-[1.3] text-blue-gray-900 mb-4">
                Online Course</h2>
            <p
                class="block antialiased font-sans font-normal text-inherit mb-5 max-w-lg px-4 text-left text-lg !text-gray-500 lg:px-0">
                In this comprehensive React Course, you'll delve into the world of React, from its fundamentals to
                advanced techniques. Our expert instructors will guide you through every step.</p>
            <div class="col-span-2 grid grid-cols-1 gap-10 sm:grid-cols-3 ">
                <div class="relative flex flex-col bg-clip-border rounded-xl bg-transparent text-gray-700 shadow-none">
                    <div class="p-6 grid place-items-start px-0">
                        <div class="mb-3 grid place-content-center rounded-lg text-left text-blue-gray-900"><svg
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                aria-hidden="true" class="h-6 w-6">
                                <path fill-rule="evenodd"
                                    d="M6.912 3a3 3 0 00-2.868 2.118l-2.411 7.838a3 3 0 00-.133.882V18a3 3 0 003 3h15a3 3 0 003-3v-4.162c0-.299-.045-.596-.133-.882l-2.412-7.838A3 3 0 0017.088 3H6.912zm13.823 9.75l-2.213-7.191A1.5 1.5 0 0017.088 4.5H6.912a1.5 1.5 0 00-1.434 1.059L3.265 12.75H6.11a3 3 0 012.684 1.658l.256.513a1.5 1.5 0 001.342.829h3.218a1.5 1.5 0 001.342-.83l.256-.512a3 3 0 012.684-1.658h2.844z"
                                    clip-rule="evenodd"></path>
                            </svg></div>
                        <h5
                            class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug text-blue-gray-900 mb-2">
                            Hands-On Projects</h5>
                        <p class="block antialiased font-sans text-base leading-relaxed text-gray-500 font-normal">Apply
                            your knowledge to real-world projects, building a robust portfolio.</p>
                    </div>
                </div>
                <div class="relative flex flex-col bg-clip-border rounded-xl bg-transparent text-gray-700 shadow-none">
                    <div class="p-6 grid place-items-start px-0">
                        <div class="mb-3 grid place-content-center rounded-lg text-left text-blue-gray-900"><svg
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                aria-hidden="true" class="h-6 w-6">
                                <path
                                    d="M11.7 2.805a.75.75 0 01.6 0A60.65 60.65 0 0122.83 8.72a.75.75 0 01-.231 1.337 49.949 49.949 0 00-9.902 3.912l-.003.002-.34.18a.75.75 0 01-.707 0A50.009 50.009 0 007.5 12.174v-.224c0-.131.067-.248.172-.311a54.614 54.614 0 014.653-2.52.75.75 0 00-.65-1.352 56.129 56.129 0 00-4.78 2.589 1.858 1.858 0 00-.859 1.228 49.803 49.803 0 00-4.634-1.527.75.75 0 01-.231-1.337A60.653 60.653 0 0111.7 2.805z">
                                </path>
                                <path
                                    d="M13.06 15.473a48.45 48.45 0 017.666-3.282c.134 1.414.22 2.843.255 4.285a.75.75 0 01-.46.71 47.878 47.878 0 00-8.105 4.342.75.75 0 01-.832 0 47.877 47.877 0 00-8.104-4.342.75.75 0 01-.461-.71c.035-1.442.121-2.87.255-4.286A48.4 48.4 0 016 13.18v1.27a1.5 1.5 0 00-.14 2.508c-.09.38-.222.753-.397 1.11.452.213.901.434 1.346.661a6.729 6.729 0 00.551-1.608 1.5 1.5 0 00.14-2.67v-.645a48.549 48.549 0 013.44 1.668 2.25 2.25 0 002.12 0z">
                                </path>
                                <path
                                    d="M4.462 19.462c.42-.419.753-.89 1-1.394.453.213.902.434 1.347.661a6.743 6.743 0 01-1.286 1.794.75.75 0 11-1.06-1.06z">
                                </path>
                            </svg></div>
                        <h5
                            class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug text-blue-gray-900 mb-2">
                            Career Opportunities</h5>
                        <p class="block antialiased font-sans text-base leading-relaxed text-gray-500 font-normal">React
                            developers are in high demand and this course is designed for you!</p>
                    </div>
                </div>
                <div class="relative flex flex-col bg-clip-border rounded-xl bg-transparent text-gray-700 shadow-none">
                    <div class="p-6 grid place-items-start px-0">
                        <div class="mb-3 grid place-content-center rounded-lg text-left text-blue-gray-900"><svg
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                aria-hidden="true" class="h-6 w-6">
                                <path fill-rule="evenodd"
                                    d="M8.603 3.799A4.49 4.49 0 0112 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 013.498 1.307 4.491 4.491 0 011.307 3.497A4.49 4.49 0 0121.75 12a4.49 4.49 0 01-1.549 3.397 4.491 4.491 0 01-1.307 3.497 4.491 4.491 0 01-3.497 1.307A4.49 4.49 0 0112 21.75a4.49 4.49 0 01-3.397-1.549 4.49 4.49 0 01-3.498-1.306 4.491 4.491 0 01-1.307-3.498A4.49 4.49 0 012.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 011.307-3.497 4.49 4.49 0 013.497-1.307zm7.007 6.387a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                                    clip-rule="evenodd"></path>
                            </svg></div>
                        <h5
                            class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug text-blue-gray-900 mb-2">
                            Flexible Learning</h5>
                        <p class="block antialiased font-sans text-base leading-relaxed text-gray-500 font-normal">
                            Access course materials whenever it suits your schedule.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>