<section id="row-id-3" class="bg-sky-900 bg-cover bg-no-repeat">
    <div class="bg-slate-800 id-3 single_column block-wrapper plr-5 pt-half pb-half separatorNone overlap-top">

        <div class="mx-auto lg:max-w-7xl px-24 relative">
            <div class="py-20 max-w-4xl mx-auto relative inside">
                <div class="-mt-48 mb-0 text-center text-white blockContainer lastBlock firstBlock block-editor">
                    <p class="my-6">
                        {{ with resources.Get "images/guarantee-1000.png" }}
                        {{ $small := (.Resize "350x webp q80").RelPermalink }}
                        {{ $medium := (.Resize "700x webp q80").RelPermalink }}
                        {{ $large := (.Resize "1000x webp q80").RelPermalink }}
                        {{ $featuredimage := (.Resize "1200x webp q80").RelPermalink }}
                        <img fetchpriority="high" decoding="async" width="350" height="355"
                            class="mx-auto wp-image-10527 size-small entered lazyloaded" src="{{ $small}}"
                            alt="ROI Guarantee"
                            data-lazy-srcset="{{ $small }} 350w, {{ $medium }} 700w, {{ $large }} 1000w, {{ $medium }} 768w, {{ $featuredimage }} 1201w"
                            data-lazy-sizes="(max-width: 350px) 100vw, 350px" data-lazy-src="{{ $small }}"
                            data-ll-status="loaded" sizes="(max-width: 350px) 100vw, 350px"
                            srcset="{{ $small }} 350w, {{ $medium }} 700w, {{ $large }} 1000w, {{ $medium }} 768w, {{ $featuredimage }} 1201w">
                        {{ end }}
                    </p>
                    <h2 class="text-4xl">Our Return on Investment Guarantee</h2>
                    <p class="my-6">
                        <strong>We are confident in your success, here’s how our guarantee
                            works:</strong>
                        <br />
                        <br />
                        If we choose to work
                        together beyond the no-obligation discovery call, your incremental profit must exceed your
                        investment in the programme within the first 6 months. If this is not the case, we will refund
                        the difference to you.
                    </p>
                    <p>
                        We only ask that you attend all available meetings and take the
                        agreed-upon actions when we advise you to do so. It’s as simple as that.</p>
                    <p class="mt-12">
                        <a class="px-5 py-3 text-xl text-center font-medium text-white bg-primary border border-primaryHover rounded-md shadow hover:bg-primaryHover focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-primary"
                            href="/book-consultation" data-opf-trigger="">Book Your
                            Free Consultation<br>
                        </a>
                    </p>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
</section>