<div class="relative py-4 sm:py-6 md:py-8 lg:py-14">
    <div class="absolute inset-0 overflow-hidden bg-indigo-50 -bottom-14 -top-36">
        {{ with resources.Get "/images/background.6c3571e0.jpg" }}
        <img alt="" fetchpriority="high" width="918" height="1495" decoding="async" data-nimg="1"
            class="absolute top-0 left-0 translate-x-[-55%] translate-y-[-10%] -scale-x-100 sm:left-1/2 sm:translate-x-[-98%] sm:translate-y-[-6%] lg:translate-x-[-106%] xl:translate-x-[-122%]"
            style="color:transparent" src="{{ .RelPermalink }}">
        {{ end }}
        <div class="absolute inset-x-0 top-0 h-40 bg-gradient-to-b from-white"></div>
        <div class="absolute inset-x-0 bottom-0 h-40 bg-gradient-to-t from-white"></div>
    </div>
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 relative">
        <div class="mx-auto max-w-2xl lg:max-w-4xl lg:px-12 text-center">
            <div class="md:hidden bg-amber-100 p-1 font-bold rounded-xl text-xs sm:text-sm inline-block">
                Attention: Business
                Owners, Entrepreneurs<br />
                and Big Thinkers
            </div>
            <div class="hidden md:block">
                <span class="bg-amber-100 p-2 font-bold rounded-xl text-base lg:text-lg">Attention: Business
                    Owners, Entrepreneurs and
                    Big Thinkers</span>
            </div>
            <h1
                class="font-display pt-4 sm:pt-6 md:pt-8 font-bold text-heading text-base sm:text-base md:text-lg lg:text-xl">
                Are You Frustrated At How Much You Need To Know To Grow Your Business?<br />
                Are You Underrepresented And Not
                Getting The Support You Need Due To Being Black, Female Or Even Both?
            </h1>
            <div
                class="my-6 space-y-1 md:space-y-2 lg:space-y-3 font-display text-base sm:text-lg md:text-xl tracking-tight text-blue-900">
                <p>Let's face it, business is hard and most of them fail.</p>
                <p>And when you are from an underrepresented background with less chance of funding what hope do you
                    have?</p>
                <p class="font-bold">We are here to change that. Start with the FREE masterclass that shows you how.</p>
            </div>

            <div class="w-full md:w-auto p-2.5">
                <div class="relative max-w-2xl mx-auto flex justify-center items-center" data-aos="fade-up"
                    data-aos-delay="200">
                    <a href="https://youtu.be/sWzY227n220" class="glightbox-hero">

                        {{ with resources.Get "images/business-launch-academy-masterclass.gif" }}
                        {{ $medium := (.Resize "550x gif q100").RelPermalink }}
                        {{ $featuredimage := (.Resize "900x gif q100").RelPermalink }}

                        <img class="mx-auto rounded-xl" src="{{ $featuredimage }}" srcset="
            {{- with $medium -}}, {{.}} 550w{{- end -}}
            {{- with $featuredimage -}}, {{.}} 900w{{- end -}}" width="1024" height="504"
                            alt="Business Launch Academy Masterclass" />
                        {{ end }}
                    </a>
                    <a href="https://youtu.be/sWzY227n220" class="glightbox-hero absolute group">
                        <svg class="w-16 h-16 sm:w-20 sm:h-20 hover:opacity-75 transition duration-150 ease-in-out"
                            viewBox="0 0 88 88" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <linearGradient x1="78.169%" y1="9.507%" x2="24.434%" y2="90.469%" id="a">
                                    <stop stop-color="#EBF1F5" stop-opacity=".8" offset="0%" />
                                    <stop stop-color="#EBF1F5" offset="100%" />
                                </linearGradient>
                            </defs>
                            <circle fill="url(#a)" cx="44" cy="44" r="44" />
                            <path class="fill-current text-secondary"
                                d="M52 44a.999.999 0 00-.427-.82l-10-7A1 1 0 0040 37V51a.999.999 0 001.573.82l10-7A.995.995 0 0052 44V44c0 .001 0 .001 0 0z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>