<!-- Testimonial/stats section -->
<div class="relative my-4">
  <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:items-start lg:gap-24 lg:px-8">
    <div class="relative sm:py-8 lg:py-0">
      <div aria-hidden="true" class="hidden sm:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-screen">
        <div class="absolute inset-y-0 w-full right-1/2 rounded-r-3xl lg:right-72">
        </div>
        <svg class="absolute -ml-3 top-8 left-1/2 lg:-right-8 lg:left-auto lg:top-12" width="404" height="392"
          fill="none" viewBox="0 0 404 392" loading="lazy">
          <defs>
            <pattern id="02f20b47-fd69-4224-a62a-4c9de5c763f7" x="0" y="0" width="20" height="20"
              patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200 dark:text-gray-900/60" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="392" fill="url(#02f20b47-fd69-4224-a62a-4c9de5c763f7)" />
        </svg>
      </div>
      <div class="relative max-w-md px-4 py-6 mx-auto sm:max-w-3xl sm:px-6 lg:max-w-none lg:px-0 lg:py-20">
        <!-- Testimonial card-->
        <div class="relative overflow-hidden shadow-xl rounded-2xl">
          {{ $missionimage := resources.Get "images/denlea.jpg" }}
          {{ with $missionimage }}
          {{ with .Resize "560x webp q90" }}
          <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="object-cover w-full h-full"
            alt="Our Mission - Outsource Sales" loading="lazy" />
          {{ end }}
          {{ end }}

        </div>
      </div>
    </div>

    <div class="relative max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:px-0">
      <!-- Content area -->
      <div class="md:pt-12 sm:pt-6 lg:pt-20">
        <h2 class="text-3xl font-medium sm:text-4xl tracking-tight text-heading">
          Being A Business Owner Is A Calling</h2>
        <div class="mt-6 space-y-6 text-body leading-7">
          <p class="">
            As a business owner, you have the potential to generate unlimited income and build wealth that gives you
            financial independence. Only a select few will ever achieve this in their lifetime.
          </p>
          <p>
            You are a visionary. You set the direction and have full control over important decisions that brings your
            vision to life. You are the boss and no one tells you what to do.
          </p>
          <p>
            Unlike a traditional 9-to-5 job, you crave the flexibility to live life on your own terms. You work when you
            want to and you alone reap the rewards of the hard grind that you have put in.
          </p>
          <p>
            You are working towards creating a lasting legacy. The impact of your efforts will endure beyond your direct
            involvement and stays with
            your family for generations to come.
          </p>
          <p>
            You know that running a business you'll encounter various challenges. These challenges provide opportunities
            for personal and professional growth. You are fully aware that it requires continuous learning and
            adaptation. You are constantly expanding your knowledge and skills.
          </p>
          <p>
            You are called to follow your passion. This allows you to do what you love and align your work with your
            interests.
          </p>
          <p class="font-bold text-2xl">
            Are you going to answer the call?
          </p>
        </div>
      </div>
    </div>

  </div>

</div>

<section>
  <div class="items-center w-full px-5 py-24 mx-auto md:px-12 lg:px-16 max-w-7xl">
    <div>
      <div class="max-w-2xl">
        <h3 class="text-2xl font-medium tracking-tight text-heading sm:text-4xl">
          Trying to grow a business can be overwhelming
        </h3>
        <p class="max-w-2xl mt-4 text-body text-lg tracking-tight">
          Ever heard of the guy that built his house on sand?<br />
          Unless you start your business with a solid foundation it will quickly fall apart.
        </p>
      </div>
    </div>
    <div class="w-full mx-auto mt-12 text-left">
      <div class="relative items-center gap-12 m-auto lg:inline-flex md:order-first">
        <div class="mx-auto lg:max-w-7xl">
          <ul role="list" class="grid grid-cols-2 gap-4 list-none md:grid-cols-3 lg:gap-12">
            <li class="flex flex-row">
              <svg class="w-5 h-5 shrink-0 mt-1" fill="#ff0000" version="1.1" id="Capa_1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 310.285 310.285" xml:space="preserve">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M264.845,45.441C235.542,16.139,196.583,0,155.142,0C113.702,0,74.743,16.139,45.44,45.441 C16.138,74.743,0,113.703,0,155.144c0,41.439,16.138,80.399,45.44,109.701c29.303,29.303,68.262,45.44,109.702,45.44 c41.44,0,80.399-16.138,109.702-45.44c29.303-29.302,45.44-68.262,45.44-109.701C310.285,113.703,294.147,74.743,264.845,45.441z M132.172,49.336c2.399-2.483,5.637-3.873,9.119-3.873h28.04c3.482,0,6.72,1.403,9.114,3.888c2.395,2.485,3.643,5.804,3.514,9.284 l-4.634,104.895c-0.263,7.102-6.26,12.933-13.368,12.933h-17.627c-7.112,0-13.099-5.839-13.345-12.945L128.64,58.594 C128.519,55.114,129.773,51.821,132.172,49.336z M155.478,268.78c-16.266,0-28.532-12.844-28.532-29.876 c0-17.223,12.122-30.211,28.196-30.211c16.602,0,28.196,12.423,28.196,30.211C183.339,256.495,171.882,268.78,155.478,268.78z">
                  </path>
                </g>
              </svg>
              <p class="text-lg ml-2 font-medium leading-6 text-black">
                Sleepless nights wondering if your cash will cover your next set of expenses.
              </p>
            </li>
            <li class="flex flex-row">
              <svg class="w-5 h-5 shrink-0 mt-1" fill="#ff0000" version="1.1" id="Capa_1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 310.285 310.285" xml:space="preserve">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M264.845,45.441C235.542,16.139,196.583,0,155.142,0C113.702,0,74.743,16.139,45.44,45.441 C16.138,74.743,0,113.703,0,155.144c0,41.439,16.138,80.399,45.44,109.701c29.303,29.303,68.262,45.44,109.702,45.44 c41.44,0,80.399-16.138,109.702-45.44c29.303-29.302,45.44-68.262,45.44-109.701C310.285,113.703,294.147,74.743,264.845,45.441z M132.172,49.336c2.399-2.483,5.637-3.873,9.119-3.873h28.04c3.482,0,6.72,1.403,9.114,3.888c2.395,2.485,3.643,5.804,3.514,9.284 l-4.634,104.895c-0.263,7.102-6.26,12.933-13.368,12.933h-17.627c-7.112,0-13.099-5.839-13.345-12.945L128.64,58.594 C128.519,55.114,129.773,51.821,132.172,49.336z M155.478,268.78c-16.266,0-28.532-12.844-28.532-29.876 c0-17.223,12.122-30.211,28.196-30.211c16.602,0,28.196,12.423,28.196,30.211C183.339,256.495,171.882,268.78,155.478,268.78z">
                  </path>
                </g>
              </svg>
              <p class="ml-2 text-lg font-medium leading-6 text-black">
                Wanting to grow but hindered by lack of resources.
              </p>
            </li>
            <li class="flex flex-row">
              <svg class="w-5 h-5 shrink-0 mt-1" fill="#ff0000" version="1.1" id="Capa_1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 310.285 310.285" xml:space="preserve">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M264.845,45.441C235.542,16.139,196.583,0,155.142,0C113.702,0,74.743,16.139,45.44,45.441 C16.138,74.743,0,113.703,0,155.144c0,41.439,16.138,80.399,45.44,109.701c29.303,29.303,68.262,45.44,109.702,45.44 c41.44,0,80.399-16.138,109.702-45.44c29.303-29.302,45.44-68.262,45.44-109.701C310.285,113.703,294.147,74.743,264.845,45.441z M132.172,49.336c2.399-2.483,5.637-3.873,9.119-3.873h28.04c3.482,0,6.72,1.403,9.114,3.888c2.395,2.485,3.643,5.804,3.514,9.284 l-4.634,104.895c-0.263,7.102-6.26,12.933-13.368,12.933h-17.627c-7.112,0-13.099-5.839-13.345-12.945L128.64,58.594 C128.519,55.114,129.773,51.821,132.172,49.336z M155.478,268.78c-16.266,0-28.532-12.844-28.532-29.876 c0-17.223,12.122-30.211,28.196-30.211c16.602,0,28.196,12.423,28.196,30.211C183.339,256.495,171.882,268.78,155.478,268.78z">
                  </path>
                </g>
              </svg>
              <p class="ml-2 text-lg font-medium leading-6 text-black">
                Guessing what to do next without certainty that it will actually work.
              </p>
            </li>
            <li class="flex flex-row">
              <svg class="w-5 h-5 shrink-0 mt-1" fill="#ff0000" version="1.1" id="Capa_1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 310.285 310.285" xml:space="preserve">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M264.845,45.441C235.542,16.139,196.583,0,155.142,0C113.702,0,74.743,16.139,45.44,45.441 C16.138,74.743,0,113.703,0,155.144c0,41.439,16.138,80.399,45.44,109.701c29.303,29.303,68.262,45.44,109.702,45.44 c41.44,0,80.399-16.138,109.702-45.44c29.303-29.302,45.44-68.262,45.44-109.701C310.285,113.703,294.147,74.743,264.845,45.441z M132.172,49.336c2.399-2.483,5.637-3.873,9.119-3.873h28.04c3.482,0,6.72,1.403,9.114,3.888c2.395,2.485,3.643,5.804,3.514,9.284 l-4.634,104.895c-0.263,7.102-6.26,12.933-13.368,12.933h-17.627c-7.112,0-13.099-5.839-13.345-12.945L128.64,58.594 C128.519,55.114,129.773,51.821,132.172,49.336z M155.478,268.78c-16.266,0-28.532-12.844-28.532-29.876 c0-17.223,12.122-30.211,28.196-30.211c16.602,0,28.196,12.423,28.196,30.211C183.339,256.495,171.882,268.78,155.478,268.78z">
                  </path>
                </g>
              </svg>
              <p class="ml-2 text-lg font-medium leading-6 text-black">
                Living the feast and famine cycle without a consistent pipeline to bring in dependable sales.
              </p>
            </li>

            <li class="flex flex-row">
              <svg class="w-5 h-5 shrink-0 mt-1" fill="#ff0000" version="1.1" id="Capa_1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 310.285 310.285" xml:space="preserve">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M264.845,45.441C235.542,16.139,196.583,0,155.142,0C113.702,0,74.743,16.139,45.44,45.441 C16.138,74.743,0,113.703,0,155.144c0,41.439,16.138,80.399,45.44,109.701c29.303,29.303,68.262,45.44,109.702,45.44 c41.44,0,80.399-16.138,109.702-45.44c29.303-29.302,45.44-68.262,45.44-109.701C310.285,113.703,294.147,74.743,264.845,45.441z M132.172,49.336c2.399-2.483,5.637-3.873,9.119-3.873h28.04c3.482,0,6.72,1.403,9.114,3.888c2.395,2.485,3.643,5.804,3.514,9.284 l-4.634,104.895c-0.263,7.102-6.26,12.933-13.368,12.933h-17.627c-7.112,0-13.099-5.839-13.345-12.945L128.64,58.594 C128.519,55.114,129.773,51.821,132.172,49.336z M155.478,268.78c-16.266,0-28.532-12.844-28.532-29.876 c0-17.223,12.122-30.211,28.196-30.211c16.602,0,28.196,12.423,28.196,30.211C183.339,256.495,171.882,268.78,155.478,268.78z">
                  </path>
                </g>
              </svg>
              <p class="ml-2 text-lg font-medium leading-6 text-black">
                Suffering the stress from working 60+ hours a week and still not having enough time to get it all done.
              </p>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>