<section id="schedule" aria-label="Schedule" class="py-20 sm:py-32">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative z-10">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-4xl lg:pr-24">
            <h2 class="font-display text-4xl font-medium tracking-tighter text-heading sm:text-5xl">What's included
                when you enroll?</h2>
            <p class="mt-4 font-display text-2xl tracking-tight text-body">
                You will receive every kind of support necessary to take you to where you want to go. Your learning
                experience is delivered in a structured, modular way so that you can build competence and confidence as
                you progress. It is also completely tailored to you based on where you are in your journey and what your
                needs are to move you forward. You will join a group of like minded individuals around the same level to
                provide community support and accountability along the way.
            </p>
        </div>
    </div>
    <div class="relative mt-14 sm:mt-24">
        {{ with resources.Get "/images/background.6c3571e0.jpg" }}
        <div class="absolute inset-0 overflow-hidden bg-indigo-50 -bottom-32 -top-40"><img alt="" fetchpriority="high"
                width="918" height="1495" decoding="async" data-nimg="1"
                class="absolute top-0 left-full -translate-x-1/2 sm:left-1/2 sm:translate-x-[-20%] sm:translate-y-[-15%] md:translate-x-0 lg:translate-x-[5%] lg:translate-y-[4%] xl:translate-x-[27%] xl:translate-y-[-8%]"
                style="color:transparent" src="{{ .RelPermalink }}">
            <div class="absolute inset-x-0 top-0 h-40 bg-gradient-to-b from-white"></div>
            <div class="absolute inset-x-0 bottom-0 h-40 bg-gradient-to-t from-white"></div>
        </div>
        {{ end }}
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative">
            <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-6 sm:grid-cols-2 lg:hidden">
                <div class="-mx-4 flex gap-x-4 gap-y-10 overflow-x-auto pb-4 pl-4 sm:mx-0 sm:flex-col sm:pb-0 sm:pl-0 sm:pr-8"
                    role="tablist" aria-orientation="vertical">
                    <div class="relative w-3/4 flex-none pr-4 sm:w-auto sm:pr-0">
                        <h3 class="text-2xl font-semibold tracking-tight text-blue-900"><time
                                datetime="2022-04-04"><button class="ui-not-focus-visible:outline-none"
                                    id="headlessui-tabs-tab-:Rlj9qqlla:" role="tab" type="button" aria-selected="true"
                                    tabindex="0" data-headlessui-state="selected"
                                    aria-controls="headlessui-tabs-panel-:R6j9qqlla:">
                                    <span class="absolute inset-0">
                                    </span>Life time access to membership site
                                </button></time></h3>
                        <p class="mt-1.5 text-base tracking-tight text-blue-900">
                            You'll receive instant access to a
                            library of videos, downloads, guides and templates to assist you with every part of your
                            business.</p>
                    </div>
                    <div class="relative w-3/4 flex-none pr-4 sm:w-auto sm:pr-0 opacity-70">
                        <h3 class="text-2xl font-semibold tracking-tight text-blue-900"><time
                                datetime="2022-04-05"><button class="ui-not-focus-visible:outline-none"
                                    id="headlessui-tabs-tab-:Rpj9qqlla:" role="tab" type="button" aria-selected="false"
                                    tabindex="-1" data-headlessui-state=""
                                    aria-controls="headlessui-tabs-panel-:Raj9qqlla:"><span
                                        class="absolute inset-0"></span>Business Mastery</button></time></h3>
                        <p class="mt-1.5 text-base tracking-tight text-blue-900">Next we spend the day talking about
                            deceiving people with technology.</p>
                    </div>
                    <div class="relative w-3/4 flex-none pr-4 sm:w-auto sm:pr-0 opacity-70">
                        <h3 class="text-2xl font-semibold tracking-tight text-blue-900"><time
                                datetime="2022-04-06"><button class="ui-not-focus-visible:outline-none"
                                    id="headlessui-tabs-tab-:Rtj9qqlla:" role="tab" type="button" aria-selected="false"
                                    tabindex="-1" data-headlessui-state=""
                                    aria-controls="headlessui-tabs-panel-:Rej9qqlla:"><span
                                        class="absolute inset-0"></span>Fellowship And Accountability</button></time>
                        </h3>
                        <p class="mt-1.5 text-base tracking-tight text-blue-900">We close out the event previewing
                            new techniques that are still in development.</p>
                    </div>
                </div>
                <div>
                    <div class="ui-not-focus-visible:outline-none" id="headlessui-tabs-panel-:R6j9qqlla:"
                        role="tabpanel" tabindex="0" data-headlessui-state="selected"
                        aria-labelledby="headlessui-tabs-tab-:Rlj9qqlla:">
                        <ol role="list"
                            class="space-y-8 bg-white/60 px-10 py-14 text-center shadow-xl shadow-blue-900/5 backdrop-blur">
                            <li
                                aria-label="Steven McHail talking about Not so one-time payments at 9:00AM - 10:00AM PST">
                                <h4 class="text-lg font-semibold tracking-tight text-blue-900">Steven McHail</h4>
                                <p class="mt-1 tracking-tight text-blue-900">Not so one-time payments</p>
                                <p class="mt-1 font-mono text-sm text-slate-500"><time
                                        datetime="2022-04-04T9:00AM-08:00">9:00AM</time> <!-- -->-<!-- --> <time
                                        datetime="2022-04-04T10:00AM-08:00">10:00AM</time> <!-- -->PST</p>
                            </li>
                            <li aria-label="Jaquelin Isch talking about The finer print at 10:00AM - 11:00AM PST">
                                <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                                <h4 class="text-lg font-semibold tracking-tight text-blue-900">Jaquelin Isch</h4>
                                <p class="mt-1 tracking-tight text-blue-900">The finer print</p>
                                <p class="mt-1 font-mono text-sm text-slate-500"><time
                                        datetime="2022-04-04T10:00AM-08:00">10:00AM</time> <!-- -->-<!-- --> <time
                                        datetime="2022-04-04T11:00AM-08:00">11:00AM</time> <!-- -->PST</p>
                            </li>
                            <li
                                aria-label="Dianne Guilianelli talking about Post-purchase blackmail at 11:00AM - 12:00PM PST">
                                <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                                <h4 class="text-lg font-semibold tracking-tight text-blue-900">Dianne Guilianelli
                                </h4>
                                <p class="mt-1 tracking-tight text-blue-900">Post-purchase blackmail</p>
                                <p class="mt-1 font-mono text-sm text-slate-500"><time
                                        datetime="2022-04-04T11:00AM-08:00">11:00AM</time> <!-- -->-<!-- --> <time
                                        datetime="2022-04-04T12:00PM-08:00">12:00PM</time> <!-- -->PST</p>
                            </li>
                            <li aria-label="Lunch talking about null at 12:00PM - 1:00PM PST">
                                <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                                <h4 class="text-lg font-semibold tracking-tight text-blue-900">Lunch</h4>
                                <p class="mt-1 font-mono text-sm text-slate-500"><time
                                        datetime="2022-04-04T12:00PM-08:00">12:00PM</time> <!-- -->-<!-- --> <time
                                        datetime="2022-04-04T1:00PM-08:00">1:00PM</time> <!-- -->PST</p>
                            </li>
                            <li aria-label="Ronni Cantadore talking about Buy or die at 1:00PM - 2:00PM PST">
                                <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                                <h4 class="text-lg font-semibold tracking-tight text-blue-900">Ronni Cantadore</h4>
                                <p class="mt-1 tracking-tight text-blue-900">Buy or die</p>
                                <p class="mt-1 font-mono text-sm text-slate-500"><time
                                        datetime="2022-04-04T1:00PM-08:00">1:00PM</time> <!-- -->-<!-- --> <time
                                        datetime="2022-04-04T2:00PM-08:00">2:00PM</time> <!-- -->PST</p>
                            </li>
                            <li aria-label="Erhart Cockrin talking about In-person cancellation at 2:00PM - 3:00PM PST">
                                <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                                <h4 class="text-lg font-semibold tracking-tight text-blue-900">Erhart Cockrin</h4>
                                <p class="mt-1 tracking-tight text-blue-900">In-person cancellation</p>
                                <p class="mt-1 font-mono text-sm text-slate-500"><time
                                        datetime="2022-04-04T2:00PM-08:00">2:00PM</time> <!-- -->-<!-- --> <time
                                        datetime="2022-04-04T3:00PM-08:00">3:00PM</time> <!-- -->PST</p>
                            </li>
                            <li
                                aria-label="Parker Johnson talking about The pay/cancel switcheroo at 3:00PM - 4:00PM PST">
                                <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                                <h4 class="text-lg font-semibold tracking-tight text-blue-900">Parker Johnson</h4>
                                <p class="mt-1 tracking-tight text-blue-900">The pay/cancel switcheroo</p>
                                <p class="mt-1 font-mono text-sm text-slate-500"><time
                                        datetime="2022-04-04T3:00PM-08:00">3:00PM</time> <!-- -->-<!-- --> <time
                                        datetime="2022-04-04T4:00PM-08:00">4:00PM</time> <!-- -->PST</p>
                            </li>
                        </ol>
                    </div><span id="headlessui-tabs-panel-:Raj9qqlla:" role="tabpanel" tabindex="-1"
                        style="position:fixed;top:1px;left:1px;width:1px;height:0;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0"
                        aria-labelledby="headlessui-tabs-tab-:Rpj9qqlla:"></span><span
                        id="headlessui-tabs-panel-:Rej9qqlla:" role="tabpanel" tabindex="-1"
                        style="position:fixed;top:1px;left:1px;width:1px;height:0;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0"
                        aria-labelledby="headlessui-tabs-tab-:Rtj9qqlla:"></span>
                </div>
            </div>
            <div class="hidden lg:grid lg:grid-cols-3 lg:gap-x-8">
                <section>
                    <h3 class="text-2xl font-semibold tracking-tight text-blue-900"><time
                            datetime="2022-04-04">Mindset</time></h3>
                    <p class="mt-1.5 text-base tracking-tight text-blue-900">
                        Reprogram your mind and remove any negativity stopping
                        you from reaching your highest potential</p>
                    <ol role="list"
                        class="mt-10 space-y-8 bg-white/60 px-10 py-14 text-center shadow-xl shadow-blue-900/5 backdrop-blur">
                        <li aria-label="Steven McHail talking about Not so one-time payments at 9:00AM - 10:00AM PST">
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Success Accelerator</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Learn about your mind and how to start
                                reprogramming it so it works for you - not against you</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Video Course</p>
                        </li>
                        <li aria-label="Jaquelin Isch talking about The finer print at 10:00AM - 11:00AM PST">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Values Alignment</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Understand yourself deeply so that you can
                                tailor your business around you</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li
                            aria-label="Dianne Guilianelli talking about Post-purchase blackmail at 11:00AM - 12:00PM PST">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Productivity Hacks</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Implement strategies that lead to successful
                                behaviour</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li aria-label="Ronni Cantadore talking about Buy or die at 1:00PM - 2:00PM PST">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Goal Setting</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Plan and set goals that you actually achieve
                            </p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li aria-label="Erhart Cockrin talking about In-person cancellation at 2:00PM - 3:00PM PST">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Limiting Belief Removal</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Reprogram your mind to achieve your highest
                                potential</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li aria-label="Parker Johnson talking about The pay/cancel switcheroo at 3:00PM - 4:00PM PST">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Parker Johnson</h4>
                            <p class="mt-1 tracking-tight text-blue-900">The pay/cancel switcheroo</p>
                            <p class="mt-1 font-mono text-sm text-slate-500"><time
                                    datetime="2022-04-04T3:00PM-08:00">3:00PM</time> <!-- -->-<!-- --> <time
                                    datetime="2022-04-04T4:00PM-08:00">4:00PM</time> <!-- -->PST</p>
                        </li>
                    </ol>
                </section>
                <section>
                    <h3 class="text-2xl font-semibold tracking-tight text-blue-900"><time datetime="2022-04-05">Business
                            Mastery</time></h3>
                    <p class="mt-1.5 text-base tracking-tight text-blue-900">Get the business growth skills needed to
                        reach 7+ figures and beyond.</p>
                    <ol role="list"
                        class="mt-10 space-y-8 bg-white/60 px-10 py-14 text-center shadow-xl shadow-blue-900/5 backdrop-blur">
                        <li
                            aria-label="Understand business fundamentals and give yourself a roadmap to where you want to go">
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Branding For Profit</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Put together a strong brand that allows you to
                                attract your perfect customer</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Video Course</p>
                        </li>
                        <li
                            aria-label="Understand business fundamentals and give yourself a roadmap to where you want to go">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Startup Bootcamp</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Understand business fundamentals and give
                                yourself a roadmap to where you want to go</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Video Course</p>
                        </li>
                        <li
                            aria-label="Understand the fundamentals of marketing so that you can put your sales on autopilot">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Marketing Secrets</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Get insider marketing secrets that other
                                successful businesses are using so you can put your sales on autopilot</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Video Course</p>
                        </li>
                        <li aria-label="Create a business model and plan that gives you the greatest chance of success">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Business Strategy</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Create a business model and plan that gives you
                                the greatest chance of success</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li
                            aria-label="Turn your website into a selling machine with marketing copy that influences prospects">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Website Audit</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Turn your website into a high converting sales
                                machine with marketing copy that influences prospects</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li
                            aria-label="Automate and systemise so that you become more productive and get your time back">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Systems Setup</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Automate and systemize so that you become more
                                productive and get your time back</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                    </ol>
                </section>
                <section>
                    <h3 class="text-2xl font-semibold tracking-tight text-blue-900"><time
                            datetime="2022-04-06">Fellowship And Support</time></h3>
                    <p class="mt-1.5 text-base tracking-tight text-blue-900">Accountability and hand holding to guide
                        and motive you along the way.</p>
                    <ol role="list"
                        class="mt-10 space-y-8 bg-white/60 px-10 py-14 text-center shadow-xl shadow-blue-900/5 backdrop-blur">
                        <li aria-label="Learn from the success of others with group sessions">
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Group Sessions</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Learn from the feedback of others in your
                                weekly group coaching sessions
                            </p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Group Coaching</p>
                        </li>
                        <li aria-label="Heather Terry talking about DALL-E for passports at 10:00AM - 11:00AM PST">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Community</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Find support in the community with others
                                sharing the same journey</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Online Community</p>
                        </li>
                        <li aria-label="Get individual tailored support in your biweekly one to one sessions">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">One to One Sessions</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Get individual tailored support in your
                                biweekly one to one sessions</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li
                            aria-label="Reach out at any time with an email to get the support you need if you are stuck">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Email Support</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Reach out at any time with an email to get the
                                support you need if you are stuck</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li aria-label="No more IT or software related problems to hold you back">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Technical Support</h4>
                            <p class="mt-1 tracking-tight text-blue-900">No more IT or software related problems to hold
                                you back</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li
                            aria-label="Richard Astley talking about Knowing the game and playing it at 3:00PM - 4:00PM PST">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">After Care</h4>
                            <p class="mt-1 tracking-tight text-blue-900">These resources stay with you for life so that
                                you can continue developing and get the support you need always</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Online Community and Video Courses</p>
                        </li>
                    </ol>
                </section>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4 p-6">
        <div class="relative">
            {{ with resources.GetMatch "images/mindset.jpg" }}
            {{ $small := (.Resize "200x webp q100").RelPermalink }}
            {{ $medium := (.Resize "350x webp q100").RelPermalink }}
            {{ $large := (.Resize "500x webp q100").RelPermalink }}
            {{ $featuredimage := (.Resize "700x webp q100").RelPermalink }}
            <img class="h-full max-w-full rounded-lg object-cover" src="{{ $featuredimage }}" alt="">
            {{ end }}
        </div>
        <div class="relative">
            {{ with resources.GetMatch "images/startup-bootcamp.png" }}
            {{ $small := (.Resize "200x webp q100").RelPermalink }}
            {{ $medium := (.Resize "350x webp q100").RelPermalink }}
            {{ $large := (.Resize "500x webp q100").RelPermalink }}
            {{ $featuredimage := (.Resize "700x webp q100").RelPermalink }}
            <img class="h-full max-w-full rounded-lg object-cover" src="{{ $featuredimage }}" alt="">
            {{ end }}
        </div>
        <div class="relative">
            {{ with resources.GetMatch "images/community.jpg" }}
            {{ $small := (.Resize "200x webp q100").RelPermalink }}
            {{ $medium := (.Resize "350x webp q100").RelPermalink }}
            {{ $large := (.Resize "500x webp q100").RelPermalink }}
            {{ $featuredimage := (.Resize "700x webp q100").RelPermalink }}
            <img class="h-full max-w-full rounded-lg object-cover" src="{{ $featuredimage }}" alt="">
            {{ end }}
        </div>
        <div class="relative">
            {{ with resources.GetMatch "images/success-accelerator-course.png" }}
            {{ $small := (.Resize "200x webp q100").RelPermalink }}
            {{ $medium := (.Resize "350x webp q100").RelPermalink }}
            {{ $large := (.Resize "500x webp q100").RelPermalink }}
            {{ $featuredimage := (.Resize "700x webp q100").RelPermalink }}
            <img class="h-full w-auto rounded-lg object-cover" src="{{ $featuredimage }}" alt="">
            {{ end }}
        </div>
        <div class="relative">
            {{ with resources.GetMatch "images/business-man.jpg" }}
            {{ $small := (.Resize "200x webp q100").RelPermalink }}
            {{ $medium := (.Resize "350x webp q100").RelPermalink }}
            {{ $large := (.Resize "500x webp q100").RelPermalink }}
            {{ $featuredimage := (.Resize "700x webp q100").RelPermalink }}
            <img class="h-full max-w-full rounded-lg object-cover" src="{{ $featuredimage }}" alt="">
            {{ end }}
        </div>
        <div class="relative">
            {{ with resources.GetMatch "images/branding-for-profit-book-bundle.png" }}
            {{ $small := (.Resize "200x webp q100").RelPermalink }}
            {{ $medium := (.Resize "350x webp q100").RelPermalink }}
            {{ $large := (.Resize "500x webp q100").RelPermalink }}
            {{ $featuredimage := (.Resize "700x webp q100").RelPermalink }}
            <img class="h-full max-w-full rounded-lg object-cover" src="{{ $featuredimage }}" alt="">
            {{ end }}
        </div>
    </div>
</section>