<section id="schedule" aria-label="Schedule" class="py-10 md:py-20">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative z-10">
        <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-4xl lg:pr-24">
            <h2 class="font-medium text-xl sm:text-2xl md:text-3xl lg:text-4xl tracking-tighter text-heading">What's
                included
                when you enroll?</h2>
            <p class="mt-4 tracking-tight text-body">
                You will receive every kind of support necessary to take you to where you want to go. Your learning
                experience is delivered in a structured, modular way so that you can build competence and confidence as
                you progress. It is also completely tailored to you based on where you are in your journey and what your
                needs are to move you forward. You will join a group of like minded individuals around the same level to
                provide community support and accountability along the way.
            </p>
        </div>
    </div>
    <div class="relative mt-14 sm:mt-24">
        {{ with resources.Get "/images/background.6c3571e0.jpg" }}
        <div class="absolute inset-0 overflow-hidden bg-indigo-50 -bottom-32 -top-40">
            <img alt="" fetchpriority="high" width="918" height="1495" decoding="async" data-nimg="1"
                class="absolute top-0 left-full -translate-x-1/2 sm:left-1/2 sm:translate-x-[-20%] sm:translate-y-[-15%] md:translate-x-0 lg:translate-x-[5%] lg:translate-y-[4%] xl:translate-x-[27%] xl:translate-y-[-8%]"
                style="color:transparent" src="{{ .RelPermalink }}">
            <div class="absolute inset-x-0 top-0 h-40 bg-gradient-to-b from-white"></div>
            <div class="absolute inset-x-0 bottom-0 h-40 bg-gradient-to-t from-white"></div>
        </div>
        {{ end }}
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative">
            <div x-data="{ 
                tab: '#tab1',
                activeClasses: 'bg-slate-50 border rounded-t',
                inactiveClasses: 'opacity-70'
         }" class="mx-auto grid max-w-2xl grid-cols-1 gap-y-6 sm:grid-cols-2 lg:hidden">
                <div class="-mx-4 flex gap-x-4 gap-y-10 overflow-x-auto pb-4 px-4 sm:mx-0 sm:flex-col sm:pb-0 sm:pl-0 sm:pr-8"
                    role="tablist" aria-orientation="vertical">

                    <div :class="tab === '#tab1' ? activeClasses : inactiveClasses"
                        class="relative w-3/4 flex-none pr-4 sm:w-auto sm:pr-0 pl-2 py-2">
                        <h3 class="text-lg sm:text-xl md:text-2xl font-semibold tracking-tight text-blue-900">
                            <button x-on:click.prevent="tab='#tab1'" class="ui-not-focus-visible:outline-none"
                                id="headlessui-tabs-tab-:R1" role="tab" type="button" aria-selected="true" tabindex="0"
                                data-headlessui-state="selected" aria-controls="headlessui-tabs-panel-:R1">
                                <span class="absolute inset-0">
                                </span>Mindset
                            </button>
                        </h3>
                        <p class="mt-1.5 text-base tracking-tight text-blue-900">
                            Reprogram your mind and remove any blocks stopping
                            you from reaching your highest potential</p>
                    </div>
                    <div :class="tab === '#tab2' ? activeClasses : inactiveClasses"
                        class="relative w-3/4 flex-none pr-4 sm:w-auto sm:pr-0 pl-2 py-2">
                        <h3 class="text-lg sm:text-xl md:text-2xl font-semibold tracking-tight text-blue-900">
                            <button x-on:click.prevent="tab='#tab2'" class="ui-not-focus-visible:outline-none"
                                id="headlessui-tabs-tab-:R2" role="tab" type="button" aria-selected="false"
                                tabindex="-1" data-headlessui-state="" aria-controls="headlessui-tabs-panel-:R2"><span
                                    class="absolute inset-0"></span>Business Mastery
                            </button>
                        </h3>
                        <p class="mt-1.5 text-base tracking-tight text-blue-900">Get the business growth skills needed
                            to
                            reach 7+ figures and beyond</p>
                    </div>
                    <div :class="tab === '#tab3' ? activeClasses : inactiveClasses"
                        class="relative w-3/4 flex-none pr-4 sm:w-auto sm:pr-0 pl-2 py-2">
                        <h3 class="text-lg sm:text-xl md:text-2xl font-semibold tracking-tight text-blue-900">
                            <button x-on:click.prevent="tab='#tab3'" class="ui-not-focus-visible:outline-none"
                                id="headlessui-tabs-tab-:R3" role="tab" type="button" aria-selected="false"
                                tabindex="-2" data-headlessui-state="" aria-controls="headlessui-tabs-panel-:R3"><span
                                    class="absolute inset-0"></span>Hand Holding
                            </button>
                        </h3>
                        <p class="mt-1.5 text-base tracking-tight text-blue-900">Fellowship, accountability and support
                            to
                            guide
                            and motive you along the way</p>
                    </div>
                </div>
                <div x-show="tab == '#tab1'" x-cloak class="ui-not-focus-visible:outline-none"
                    id="headlessui-tabs-panel-:R6j9qqlla:" role="tabpanel" tabindex="0" data-headlessui-state="selected"
                    aria-labelledby="headlessui-tabs-tab-:Rlj9qqlla:">
                    <ol role="list"
                        class="space-y-8 bg-white/60 px-10 py-14 text-center shadow-xl shadow-blue-900/5 backdrop-blur">
                        <li
                            aria-label="Learn about your mind and how to start reprogramming it so it works for you - not against you">
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Success Accelerator</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Learn about your mind and how to start
                                reprogramming it so it works for you - not against you</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Video Course</p>
                        </li>
                        <li aria-label="Understand yourself deeply so that you can tailor your business around you">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Values Alignment</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Understand yourself deeply so that you can
                                tailor your business around you</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li aria-label="Implement strategies that lead to successful behavior">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Productivity Hacks</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Implement strategies that lead to successful
                                behaviour</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li aria-label="Plan and set goals that you actually achieve">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Goal Setting</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Plan and set goals that you actually achieve
                            </p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li aria-label="Reprogram your mind to achieve your highest potential">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Limiting Belief Removal</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Reprogram your mind to achieve your highest
                                potential</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li
                            aria-label="Discuss personal challenges you believe might be holding you back. We unlock these together">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Consulting</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Discuss personal challenges you believe might
                                be holding you back. We unlock these together</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                    </ol>
                </div>

                <div x-show="tab == '#tab2'" x-cloak class="ui-not-focus-visible:outline-none"
                    id="headlessui-tabs-panel-:R6j9qqlla:" role="tabpanel" tabindex="0" data-headlessui-state="selected"
                    aria-labelledby="headlessui-tabs-tab-:Rlj9qqlla:">
                    <ol role="list"
                        class="space-y-8 bg-white/60 px-10 py-14 text-center shadow-xl shadow-blue-900/5 backdrop-blur">
                        <li
                            aria-label="Understand business fundamentals and give yourself a roadmap to where you want to go">
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Branding For Profit</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Put together a strong brand that allows you to
                                attract your perfect customer</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Video Course</p>
                        </li>
                        <li
                            aria-label="Understand business fundamentals and give yourself a roadmap to where you want to go">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Startup Bootcamp</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Understand business fundamentals and give
                                yourself a roadmap to where you want to go</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Video Course</p>
                        </li>
                        <li
                            aria-label="Understand the fundamentals of marketing so that you can put your sales on autopilot">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Marketing Secrets</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Get insider marketing secrets that other
                                successful businesses are using so you can put your sales on autopilot</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Video Course</p>
                        </li>
                        <li aria-label="Create a business model and plan that gives you the greatest chance of success">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Business Strategy</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Create a business model and plan that gives you
                                the greatest chance of success</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li
                            aria-label="Turn your website into a selling machine with marketing copy that influences prospects">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Website Audit</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Turn your website into a high converting sales
                                machine with marketing copy that influences prospects</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li
                            aria-label="Automate and systemise so that you become more productive and get your time back">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Systems Setup</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Automate and systemize so that you become more
                                productive and get your time back</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                    </ol>
                </div>


                <div x-show="tab == '#tab3'" x-cloak class="ui-not-focus-visible:outline-none"
                    id="headlessui-tabs-panel-:R6j9qqlla:" role="tabpanel" tabindex="0" data-headlessui-state="selected"
                    aria-labelledby="headlessui-tabs-tab-:Rlj9qqlla:">
                    <ol role="list"
                        class="space-y-8 bg-white/60 px-10 py-14 text-center shadow-xl shadow-blue-900/5 backdrop-blur">
                        <li aria-label="Learn from the success of others with group sessions">
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Group Sessions</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Learn from the feedback of others in your
                                weekly group coaching sessions
                            </p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Group Coaching</p>
                        </li>
                        <li aria-label="Heather Terry talking about DALL-E for passports at 10:00AM - 11:00AM PST">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Community</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Find support in the community with others
                                sharing the same journey</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Online Community</p>
                        </li>
                        <li aria-label="Get individual tailored support in your biweekly one to one sessions">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">One to One Sessions</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Get individual tailored support in your
                                biweekly one to one sessions</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li
                            aria-label="Reach out at any time with an email to get the support you need if you are stuck">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Email Support</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Reach out at any time with an email to get the
                                support you need if you are stuck</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li aria-label="No more IT or software related problems to hold you back">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Technical Support</h4>
                            <p class="mt-1 tracking-tight text-blue-900">No more IT or software related problems to hold
                                you back</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li
                            aria-label="Richard Astley talking about Knowing the game and playing it at 3:00PM - 4:00PM PST">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">After Care</h4>
                            <p class="mt-1 tracking-tight text-blue-900">These resources stay with you for life so that
                                you can continue developing and get the support you need always</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Online Community and Video Courses</p>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="hidden lg:grid lg:grid-cols-3 lg:gap-x-8">
                <div class="block">
                    <h3 class="text-xl font-semibold tracking-tight text-heading">Mindset</h3>
                    <p class="mt-1.5 text-base tracking-tight text-body">
                        Reprogram your mind and remove any blocks stopping
                        you from reaching your highest potential</p>
                    <ol role="list"
                        class="mt-10 space-y-8 bg-white/60 px-10 py-14 text-center shadow-xl shadow-blue-900/5 backdrop-blur">
                        <li
                            aria-label="Learn about your mind and how to start reprogramming it so it works for you - not against you">
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Success Accelerator</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Learn about your mind and how to start
                                reprogramming it so it works for you - not against you</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Video Course</p>
                        </li>
                        <li aria-label="Understand yourself deeply so that you can tailor your business around you">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Values Alignment</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Understand yourself deeply so that you can
                                tailor your business around you</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li aria-label="Implement strategies that lead to successful behavior">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Productivity Hacks</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Implement strategies that lead to successful
                                behaviour</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li aria-label="Plan and set goals that you actually achieve">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Goal Setting</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Plan and set goals that you actually achieve
                            </p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li aria-label="Reprogram your mind to achieve your highest potential">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Limiting Belief Removal</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Reprogram your mind to achieve your highest
                                potential</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li
                            aria-label="Discuss personal challenges you believe might be holding you back. We unlock these together">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Consulting</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Discuss personal challenges you believe might
                                be holding you back. We unlock these together</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                    </ol>
                </div>
                <div class="block">
                    <h3 class="text-xl font-semibold tracking-tight text-heading">
                        Business Mastery
                    </h3>
                    <p class="mt-1.5 text-base tracking-tight text-body">Get the business growth skills needed to
                        reach 7+ figures and beyond</p>
                    <ol role="list"
                        class="mt-10 space-y-8 bg-white/60 px-10 py-14 text-center shadow-xl shadow-blue-900/5 backdrop-blur">
                        <li
                            aria-label="Understand business fundamentals and give yourself a roadmap to where you want to go">
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Branding For Profit</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Put together a strong brand that allows you to
                                attract your perfect customer</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Video Course</p>
                        </li>
                        <li
                            aria-label="Understand business fundamentals and give yourself a roadmap to where you want to go">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Startup Bootcamp</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Understand business fundamentals and give
                                yourself a roadmap to where you want to go</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Video Course</p>
                        </li>
                        <li
                            aria-label="Understand the fundamentals of marketing so that you can put your sales on autopilot">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Marketing Secrets</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Get insider marketing secrets that other
                                successful businesses are using so you can put your sales on autopilot</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Video Course</p>
                        </li>
                        <li aria-label="Create a business model and plan that gives you the greatest chance of success">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Business Strategy</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Create a business model and plan that gives you
                                the greatest chance of success</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li
                            aria-label="Turn your website into a selling machine with marketing copy that influences prospects">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Website Audit</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Turn your website into a high converting sales
                                machine with marketing copy that influences prospects</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li
                            aria-label="Automate and systemise so that you become more productive and get your time back">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Systems Setup</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Automate and systemize so that you become more
                                productive and get your time back</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                    </ol>
                </div>
                <div class="block">
                    <h3 class="text-xl font-semibold tracking-tight text-heading">Hand Holding</h3>
                    <p class="mt-1.5 text-base tracking-tight text-body">Fellowship, accountability and support to
                        guide
                        and motive you along the way</p>
                    <ol role="list"
                        class="mt-10 space-y-8 bg-white/60 px-10 py-14 text-center shadow-xl shadow-blue-900/5 backdrop-blur">
                        <li aria-label="Learn from the success of others with group sessions">
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Group Sessions</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Learn from the feedback of others in your
                                weekly group coaching sessions
                            </p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Group Coaching</p>
                        </li>
                        <li aria-label="Heather Terry talking about DALL-E for passports at 10:00AM - 11:00AM PST">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Community</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Find support in the community with others
                                sharing the same journey</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Online Community</p>
                        </li>
                        <li aria-label="Get individual tailored support in your biweekly one to one sessions">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">One to One Sessions</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Get individual tailored support in your
                                biweekly one to one sessions</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li
                            aria-label="Reach out at any time with an email to get the support you need if you are stuck">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Email Support</h4>
                            <p class="mt-1 tracking-tight text-blue-900">Reach out at any time with an email to get the
                                support you need if you are stuck</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li aria-label="No more IT or software related problems to hold you back">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">Technical Support</h4>
                            <p class="mt-1 tracking-tight text-blue-900">No more IT or software related problems to hold
                                you back</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Personal Coaching</p>
                        </li>
                        <li
                            aria-label="Richard Astley talking about Knowing the game and playing it at 3:00PM - 4:00PM PST">
                            <div class="mx-auto mb-8 h-px w-48 bg-indigo-500/10"></div>
                            <h4 class="text-lg font-semibold tracking-tight text-blue-900">After Care</h4>
                            <p class="mt-1 tracking-tight text-blue-900">These resources stay with you for life so that
                                you can continue developing and get the support you need always</p>
                            <p class="mt-1 font-mono text-sm text-slate-500">Online Community and Video Courses</p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4 p-6">
        <div class="relative">
            {{ with resources.GetMatch "images/mindset.jpg" }}
            {{ $small := (.Resize "200x webp q100").RelPermalink }}
            {{ $medium := (.Resize "350x webp q100").RelPermalink }}
            {{ $large := (.Resize "500x webp q100").RelPermalink }}
            {{ $featuredimage := (.Resize "700x webp q100").RelPermalink }}
            <img class="h-full max-w-full rounded-lg object-cover" src="{{ $featuredimage }}" alt="">
            {{ end }}
        </div>
        <div class="relative">
            {{ with resources.GetMatch "images/startup-bootcamp.png" }}
            {{ $small := (.Resize "200x webp q100").RelPermalink }}
            {{ $medium := (.Resize "350x webp q100").RelPermalink }}
            {{ $large := (.Resize "500x webp q100").RelPermalink }}
            {{ $featuredimage := (.Resize "700x webp q100").RelPermalink }}
            <img class="h-full max-w-full rounded-lg object-cover" src="{{ $featuredimage }}" alt="">
            {{ end }}
        </div>
        <div class="relative">
            {{ with resources.GetMatch "images/community.jpg" }}
            {{ $small := (.Resize "200x webp q100").RelPermalink }}
            {{ $medium := (.Resize "350x webp q100").RelPermalink }}
            {{ $large := (.Resize "500x webp q100").RelPermalink }}
            {{ $featuredimage := (.Resize "700x webp q100").RelPermalink }}
            <img class="h-full max-w-full rounded-lg object-cover" src="{{ $featuredimage }}" alt="">
            {{ end }}
        </div>
        <div class="relative">
            {{ with resources.GetMatch "images/success-accelerator-course.png" }}
            {{ $small := (.Resize "200x webp q100").RelPermalink }}
            {{ $medium := (.Resize "350x webp q100").RelPermalink }}
            {{ $large := (.Resize "500x webp q100").RelPermalink }}
            {{ $featuredimage := (.Resize "700x webp q100").RelPermalink }}
            <img class="h-full w-auto rounded-lg object-cover" src="{{ $featuredimage }}" alt="">
            {{ end }}
        </div>
        <div class="relative">
            {{ with resources.GetMatch "images/business-man.jpg" }}
            {{ $small := (.Resize "200x webp q100").RelPermalink }}
            {{ $medium := (.Resize "350x webp q100").RelPermalink }}
            {{ $large := (.Resize "500x webp q100").RelPermalink }}
            {{ $featuredimage := (.Resize "700x webp q100").RelPermalink }}
            <img class="h-full max-w-full rounded-lg object-cover" src="{{ $featuredimage }}" alt="">
            {{ end }}
        </div>
        <div class="relative">
            {{ with resources.GetMatch "images/branding-for-profit-book-bundle.png" }}
            {{ $small := (.Resize "200x webp q100").RelPermalink }}
            {{ $medium := (.Resize "350x webp q100").RelPermalink }}
            {{ $large := (.Resize "500x webp q100").RelPermalink }}
            {{ $featuredimage := (.Resize "700x webp q100").RelPermalink }}
            <img class="h-full max-w-full rounded-lg object-cover" src="{{ $featuredimage }}" alt="">
            {{ end }}
        </div>
    </div>
</section>